.card-country{
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0 0 10px 2px hsl(0, 0%, 90%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 5px;
    height: auto;
    width: 100%;
}
.card-country:hover{
    opacity: 70%;
}
.card-country-flag{
    width: 100%;
    height: 210px;
   
}

.card-country-flag img{
    height: auto;
    width: 100%;
    max-height:100%;
    /*object-fit: fill;*/
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
}

.card-country-info{
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: 14px;
    /* gap:7px; */
    max-height: 50%;
}
.card-country-name{
    font-weight: 800;
    font-size: 18px;
    margin-bottom: 20px;
}