header{
    width: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    border-bottom: 3px solid hsl(0, 0%, 95%);
    box-shadow: 5px 0 10px 5px hsl(0, 0%, 95%) ;
    
}
.header-dark-mode{
    background-color: hsl(209, 23%, 22%);
    border-bottom: 3px solid hsl(207, 26%, 17%);
    box-shadow: 5px 0 10px 5px hsl(207, 26%, 17%) ;
}

h1{
    font-weight: 800;
    font-size: 28px;
    margin-bottom: 0;
    color:hsl(200, 15%, 8%);
}
.switch-mode{
    color:hsl(200, 15%, 8%);
    display: flex;
    gap:6px;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}
@media (max-width:720px){

    header{
        padding: 15px;
    }
    h1{
        font-size: 19px;
    }
    .switch-mode{
        font-size: 14px;
    }

}