header{
    width: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    border-bottom: 3px solid hsl(0, 0%, 95%);
    
}

h1{
    font-weight: 800;
    font-size: 28px;
}
.switch-mode{
    display: flex;
    gap:10px;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
}