.filters{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 50px;
    justify-content: space-between;
    gap:35px;
}
.ant-input{
    width: 35%;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector{
    border-radius: 5px;
}
.ant-select-single:not(.ant-select-customize-input) .ant-select-selector{
    height: 50.28px;
    cursor: pointer;
}
.ant-select-single .ant-select-selector{
    align-items: center;
}
.ant-select{  
    font-size: 18px;
}

.ant-select-show-search.ant-select:not(.ant-select-customize-input) .ant-select-selector input{
    cursor: pointer;
}
.ant-select-show-search.ant-select:not(.ant-select-customize-input) .ant-select-selector{
    cursor: pointer;
}

@media (max-width:720px){
    .filters{
        padding: 15px;
    }
    .ant-input{
        width: 100%;
    }
}