.filters{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 50px;
    justify-content: space-between;
    gap:35px;
    background-color:  hsl(0, 0%, 98%);
}
/* INPUNT ANT DESING*/
.ant-input{
    width: 35% !important;
    padding: 10px 20px!important;
    font-size: 16px!important;
    font-weight: 600!important;
    border-radius: 5px!important;
    border:0!important;
    background-color: hsl(0, 0%, 100%)!important;
    box-shadow: 0 0 10px 2px hsl(0, 0%, 90%)!important;
    color:hsl(0, 0%, 52%)!important;
    transition: none!important;
}
.input-dark-mode{
    background-color: hsl(209, 23%, 22%)!important;
    box-shadow: 0 0 10px 2px hsl(210, 26%, 13%)!important;
    color:hsl(0, 0%, 100%)!important;
}

/*SELECTOR ANT DESING*/
.ant-select:not(.ant-select-customize-input) .ant-select-selector{
    border-radius: 5px!important;
    transition: none!important;
}
.ant-select-single:not(.ant-select-customize-input) .ant-select-selector{
    height: 50.28px!important;
    cursor: pointer!important;
    background-color: hsl(0, 0%, 100%)!important;
    border:0!important;
    box-shadow: 0 0 10px 2px hsl(0, 0%, 90%)!important;
}
.select-dark-mode.ant-select-single:not(.ant-select-customize-input) .ant-select-selector{
    background-color: hsl(209, 23%, 22%)!important;
    box-shadow: 0 0 10px 2px hsl(210, 26%, 13%)!important;
}

.ant-select-single .ant-select-selector{
    align-items: center!important;
}
.ant-select{  
    font-size: 16px!important;
    color:hsl(200, 15%, 8%)!important;
}


.ant-select-show-search .ant-select:not(.ant-select-customize-input) .ant-select-selector input,
.ant-select-show-search .ant-select:not(.ant-select-customize-input) .ant-select-selector
{
    cursor: pointer!important;
    transition: none!important;
}

.ant-select-selector .ant-select-selection-placeholder{
    color:hsl(200, 15%, 8%);
    font-weight: 600;
}
.ant-select-arrow{
    color:hsl(200, 15%, 8%);
}
.select-dark-mode .ant-select-arrow{
    color:hsl(0, 0%, 100%);
}
.select-dark-mode .ant-select-selector .ant-select-selection-placeholder{    
    color:hsl(0, 0%, 100%) ;
}

 .ant-select-dropdown{
    background-color: unset !important;
    box-shadow: unset!important;
}
.option-dark-mode.ant-select-item-option-active:not(.ant-select-item-option-disabled){
    background-color: hsl(209, 23%, 22%)!important;
}

.ant-select-item{
    background-color:hsl(0, 0%, 100%)!important;
}
.option-dark-mode{
    background-color: hsl(209, 23%, 22%)!important;
    color:hsl(0, 0%, 100%)!important;
} 
.ant-select-item-option-active:not(.ant-select-item-option-disabled){
    background-color: hsl(0, 0%, 94%)!important;
}
.option-dark-mode.ant-select-item-option-active:not(.ant-select-item-option-disabled){
    background-color: hsl(209, 23%, 25%)!important;
}


@media (max-width:720px){
    .filters{
        padding: 15px;
    }
    .ant-input{
        width: 100% !important;
    }
}