.countries-grid{
    display: grid;
    padding: 0 50px 50px 50px;
    /*grid-template-columns: repeat(auto-fit, minmax(150px, 1fr) );*/
    grid-template-columns: repeat(4, 1fr);
   
    gap: 50px;
}
.card-container{
    display: flex;
    height: 100%;
}